# Entornos virtuales
.venv/
.venv_scraping/
venv/

# Caché de Python
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Carpeta de instrucciones local
.github.ignore/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Datos crudos (encuestas / sensibles)
data/raw/
